*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
    
}
html{
  scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}
li{
    list-style-type: none;
}
.container{
    width: 100%;
    height: 1200px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(sunset.jpg) no-repeat;
    background-size: cover;
    color: white;

}
.header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    width: 200px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    transition: 0.3s;
}
.logo:hover{
    color: plum;
}
.menu{
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu li{
    width: 25%;
    text-align: center;
    transition: 0.3s;


}
.menu li a{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.menu li a:hover{
    color: aquamarine;
}
.main{
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;

}
.mouse{
  text-align: center;
  font-size: 50px;
  padding-top: 5px;
  animation: mouse 1s infinite;
}
@keyframes mouse{
  
  0%{
    transform:translateY(0px);
  }
  50%{
    transform:translateY(20px);
  }
  100%{
    transform:translateY(0px);
  }
}
.main h1{
    font-size: 50px;
    margin-bottom: 50px;

}
.main h2{
    font-size: 40px;

}
.main h3{
    font-size: 30px;
    font-weight: normal;
    margin-bottom: 50px;

}
.main button{
    font-size: 30px;
    width: 250px;
    height: 90px;
    border: 3px solid white;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    transition: 0.3s;

}
.main button:hover{
    background-color: white;
    color: black;
    
}
.about{
    width: 1400px;
    height: 600px;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
  
  }
  .about h2{
    font-size: 40px;
    color:rgb(170, 83, 170);
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
  }
  .about h1{
    font-size: 50px;
  }
  .about .contents{
    width: 1400px;
    height: 410px;
    display: flex;
    margin-top: 10px;
  
    
  }
  .about .left{
    width: 600px;
    height: 410px;
  }
  .about .left img{
    width: 600px;
    height: 410px;
  
  }
  .about .right{
    width: 800px;
    height: 410px;
    
    padding-left: 50px;
  }
  .about .right h1{
    font-size: 30px;
  }
  .about .right span{
     color: rgb(170, 83, 170);
     font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 100px;
    font-style: normal;
  }
  .about .right li{
    font-size: 24px;
    margin-top: 16px;
  }
  .fa-facebook{
    font-size: 45px;
    color: #000;
    margin-right: 10px;
  }
  .fa-youtube{
    font-size: 45px;
    color: #000;
    margin-right: 10px;
  }
  .fa-instagram{
    font-size: 45px;
    color: #000;
    
  }
  .skills{
    background-color: #eee;
    width: 100%;
    height: 700px;
    margin-top: 100px;
    padding-top: 100px;
    
  }
  .skills h2{
    font-size: 40px;
    color:rgb(170, 83, 170);
    font-family: "Playpen Sans", cursive;
    font-optical-sizing: auto;
    font-weight: 200px;
    font-style: normal;
  }
  .skills h1{
    font-size: 50px;
  }
  .skills-inner{
    width: 1400px;
    height: 700px;
    margin: 0 auto;
  }
  .skills .contents{
    width: 1400px;
    height: 300px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    margin-top: 50px;

  }
  .skills .contents li{
    width: 350px;
    height: 350px;
    font-size: 20px;
    text-align: center;
    background-color:#eee;
    padding: 20px;

  }
  .skills h3{
    font-size: 30px;
    margin-bottom: 20px;
    
    
  }
  .skills i{
    color:  rgb(170, 83, 170);
    font-size: 40px;
  }
  .skills .contents li:hover i{
    background-color: rgb(170, 83, 170);
    color: white;

  }
  .skills .contents li:hover{
    background-color: rgb(170, 83, 170);
    color: white;
    border-radius: 15px;

  }
  .bg{
    width: 100%;
    height: 800px;
    background: url(bg2.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  